.container{
  float: left;
  background-color:rgb(246, 243, 255) ;
  border-radius: .25rem ;
  margin-top: 3em;
margin-left: 6em;
width: 22em;
}



h5{

  letter-spacing: .07rem;
 color: rgb(9, 9, 9);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: left;
  padding: .6em .7em;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.containerAdd{
  background-color: rgb(246, 243, 255);
   padding: .7em .5em ;
margin-top: -1.5em; 
 display: flex;
 justify-content: space-between;
 border-radius: .25rem ;
 border-top-left-radius: 0;
  border-top-right-radius: 0;
 
}

.add{
  background: hsla(0, 0%, 96%, 0.85);
  outline: none;
  padding: .7rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #35383b;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 87%;
 max-width: 87%;
 border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "Almarai", sans-serif;
}


  .btnAdd {
   
    
    padding: .65rem 1rem;
    border-radius: .25rem;
    color: #28a745;
    /* height: 2.7em;
    max-height: 2em; */
    text-align: center;
    background: hsla(0, 0%, 96%, 0.85);
    border: 1px solid #28a745;
    border-top-left-radius: 0;
  border-bottom-left-radius: 0;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-family: "Almarai", sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
  
  }
  .btnAdd:hover {
    color: white;

    background-color: #28a745; 
    
  }
  

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  
    .container{
  
      margin-top: 2em;
    margin-left: 2em;
    
    }
    
    
  }


  
@media screen and (max-width: 768px){
  body{
    margin: 0 auto;
    max-width: 1920px;
    width: 90%;
  }
  .container{
      width: 22em;
     background-color: #28a745; 
      max-width: 22em;
      float: block;
      margin-top: 0em;
    margin-left: 0em;
     
  }
}